<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>James Fray</string>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>High Definition Quality for YouTube™</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.youtube-hd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/chrome.js</string>
				<string>data/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Watch YouTube in the full-HD quality or the highest available one</string>
	<key>DeveloperIdentifier</key>
	<string>RED8XKG2R4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.youtube.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://add0n.com/youtube-hd.html?from=context</string>
</dict>
</plist>
