<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.add0n.YouTube-HD</string>
       <key>Developer Identifier</key>
       <string>N36DZ3K24G</string>
       <key>CFBundleVersion</key>
       <string>3</string>
       <key>CFBundleShortVersionString</key>
       <string>0.1.5</string>
       <key>URL</key>
       <string>https://github.com/james-fray/YouTube-HD/blob/master/src.safariextension/executables/extension.safariextz?raw=true</string>
     </dict>
   </array>
</dict>
</plist>
