:root {
  color-scheme: dark light;

  --fg: #4d5156;
  --bg: #fff;
  --links: #1870d8;
}

@media (prefers-color-scheme: dark) {
  body {
    --fg: #bab9ba;
    --bg: #1f1e21;
    --links: #99c9fe;
  }
}

body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
  width: 600px;
}
button,
input[type=submit],
input[type=button] {
  height: 28px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  font-size: inherit;
}
button,
textarea,
input[type=submit],
input[type=button] {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
select {
  height: 28px;
  background: transparent;
  outline: none;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 5px;
}
a,
a:visited {
  color: var(--links);
  text-decoration: none;
}

.tbl {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  padding: 10px 0;
}
.tbl label {
  align-self: center;
}

.two {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  white-space: nowrap;
  align-items: center;
}
.three {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-gap: 5px;
  white-space: nowrap;
  align-items: center;
}
#hosts {
  height: 100%;
  box-sizing: border-box;
  padding-inline: 5px;
}
#quality {
  justify-self: end;
}
